* {
  box-sizing: border-box;
}

html {
  background: linear-gradient(to top, #134e5e, #71b280);
  min-height: 1000px;
  font-family: "helvetica neue";
}

h1 {
  color: #fff;
  padding: 10px;
}

h2 {
  color: black;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color: #3e7c6d;
  text-align: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
}

.item:last-child {
  border-bottom: 0;
}

input:checked + p {
  text-decoration: line-through;
  text-decoration-color: #3e7c6d;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}

form.item {
  text-align: center;
  margin-left: 20px;
}

.addbutton {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #3e7c6d;
  color: #fff;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #3e7c6d;
}

::placeholder {
  color: grey;
  opacity: 1;
}
footer {
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.btn {
  background-color: #3e7c6d;
  color: white;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  border-radius: 5px;
}

#rules-btn {
  position: absolute;
  top: 30px;
  left: 30px;
  background-color: #3e7c6d;
  color: white;
  border: 0;
  display: blok;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.rules {
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  color: white;
  min-height: 100vh;
  width: 400px;
  padding: 20px;
  line-height: 1.5;
  transform: translateX(-400px);
  transition: transform 1s ease-in-out;
}

.rules.show {
  transform: translateX(0);
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}
